<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>
<body>
<header>
    <div> 
    <img src="/images/logo-mercado-liebre.svg">
</div>
    <input type="search" placeholder="Buscar productos, marcas"></input>
    <i class="fas fa-search"></i><br>
    <i class="fas fa-hand-holding-usd"></i>
    <p id="center">Comprá en cuotas y sin tarjeta de crédito</p>
    <ul>
        <li><link href="/Ofertas">Ofertas</li>
        <li><link href="/Tiendas Oficiales">Tiendas Oficiales</li>
        <li><link href="/Vender" >Vender</li>
        <li><link href="/Ayuda">Ayuda</li>
        <p></p>
        <li><link href="/Creá tu cuenta">Creá tu cuenta</li>
        <li><link href="/Ingresá">Ingresá</li>
        <li><link href="/Mis compras">Mis compras</li>
    </ul>

</header>
<main>
    <section>
        <h2 class="titulares"><strong>Basado en tu última visita</strong></h2>

        <img src="/images/img-cafetera-moulinex.jpg" width="340px">
        <p class="prices">$6.770</p>
        <p class="discounts">40% OFF</p>
        <p class="descriptions">Cafetera Moulinex</p>       
        
        <img src="/images/img-macbook-pro-2019.jpg" width="340px">
        <p class="prices">$230.000</p>
        <p class="discounts">20% off</p>    
        <p class="descriptions">MacBook Pro 2019</p>
        
        <img src="/images/img-samsung-galaxy-s10.jpg" width="340px">
        <p class="prices">$70.500</p>
        <p class="discounts">10% off</p>    
        <p id="descriptions">Samsung Galaxy S10</p>    

        <img src="/images/img-tv-samsung-smart.jpg" width="340px">
        <p class="prices">$23.200 </p>
        <p class="discounts-descriptions">5% off</p>
        <p class="discounts-descriptions">SmartTv Samsung 43"</p>
    </section>
    <section>
        <h2 class="titulares"><strong>Ofertas</strong></h2>
        
        <img src="/images/img-cafetera-moulinex.jpg" width="340px">
        <p class="prices">$6.770</p>
        <p class="discounts-descriptions">40% OFF</p>
        <p class="discounts-descriptions">Cafetera Moulinex</p>       
        
        <img src="/images/img-macbook-pro-2019.jpg" width="340px">
        <p id="prices">$230.000</p>
        <p id="discounts-descriptions">20% off</p>    
        <p id="discounts-descriptions">MacBook Pro 2019</p>
        
        <img src="/images/img-samsung-galaxy-s10.jpg" width="340px">
        <p id="prices">$70.500</p>
        <p id="discounts-descriptions">10% off</p>    
        <p id="discounts-descriptions">Samsung Galaxy S10</p>    

        <img src="/images/img-tv-samsung-smart.jpg" width="340px">
        <p id="prices">$23.200 </p>
        <p id="discounts-descriptions">5% off</p>
        <p id="discounts-descriptions">SmartTv Samsung 43"</p>
    </section>
</main>
<footer>
    <section>
        <h2><strong>Pagá con tarjeta o en efectivo</strong></h2>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>
    <section>
        <h2><strong>Envío gratis desde $ 2.500</strong></h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section>
        <h2><strong>Seguridad, de principio a fin</strong></h2>
        <p>C¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </section>
        
    <section>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
    </section>
</footer>
</body>
</html>